<div id="about" class="about-page">
    <h1 class="about-title txt-center page-title">关于我</h1>
    <div class="about-content">
        <ul class="content-list group">
            <li class="about-item">
                <i class="education"></i>
                <span>学历 ／ 本科</span>
            </li>
            <li class="about-item">
                <i class="age"></i>
                <span>年龄 ／ 22</span>
            </li>
            <li class="about-item">
                <i class="coordinate"></i>
                <span>坐标 ／ 广州</span>
            </li>
            <li class="about-item">
                <i class="status"></i>
                <span>状态 ／ 在职</span>
            </li>
        </ul>
    </div>
    <div class="about-info">
        <p class="txt-center">2016年，毕业于 中南民族大学 - 计算机科学与技术，中南财经政法大学 - 经济学(金融与贸易方向)</p>
        <p class="txt-center">现就职于广州亓行智能科技有限公司</p>
        <p class="txt-center">喜欢优雅的代码，代码强迫症患者</p>
    </div>
</div>