<div id="skill" class="skill-page">
    <h1 class="txt-center page-title">专业技能</h1>
    <div class="tag-panel">
        <div class="tag expert">HTML</div>
        <div class="tag familiar">CSS</div>
        <div class="tag expert">JavaScript</div>
    </div>
    <div class="tag-panel">

        <div class="tag expert">jQuery</div>
        <div class="tag familiar">Bootstrap</div>
        <div class="tag familiar">AngularJS</div>
        <div class="tag expert">Vue.js</div>
    </div>
    <div class="tag-panel">
        <div class="tag familiar">WebStorm</div>
        <div class="tag expert">EditPlus</div>
        <div class="tag familiar">Sublime Text</div>
    </div>
    <div class="tag-panel">
        <div class="tag expert">PHP</div>
        <div class="tag familiar">Node.js</div>
        <div class="tag expert">HTTP</div>
    </div>
    <div class="tag-panel">
        <div class="tag expert">PhotoShop</div>
    </div>
</div>